@charset "UTF-8";
*{
    font-family: 'Inter', sans-serif;
    /*height: 100%;*/
}

p{
    text-align: justify;

}
body{
    background-image:linear-gradient(to right, #324001, #3b4b01)
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #283301;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #027373;
    text-align: center;
    text-shadow: 1px 1px 1px #026969;
}

h2{
    color: #146551;
}