@charset "UTF-8";
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif
    /*height: 100%;*/
}

p{
    text-align: justify;

}
body{
    background-image:linear-gradient(to right, #8FC1B5, #589A8D )
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #17382e9d;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #265C4B;
    text-align: center;
    text-shadow: 1px 1px 1px #1e4b3d;
}

h2{
    color: #146551;
}